.card-title {
  color: white;
  text-shadow: 2px 2px 4px #2c3e50;
}

.card-text {
  color: white;
  text-shadow: 2px 2px 4px #2c3e50;
}
.card-text .impact {
  color:#8BC34A;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 2px 2px 4px #2c3e50;
}