.AboutTeam {  
  .avatar {
    vertical-align: middle;
    width: 320px;
    height: 320px;
    border-radius: 50%;
  }
  .avatar.size-1 {
    width: 40px;
    height: 40px;
  }
  .avatar.size-2 {
    width: 70px;
    height: 70px;
  }
  .avatar.size-3 {
    width: 90px;
    height: 90px;
  }
  .avatar.size-4 {
    width: 110px;
    height: 110px;
  }  
}
