
.Brand {  
  padding: 0;

  .icon {
    padding: 0.65rem;
    border-radius: 20%;
    background-color: #fffa65;
    border: 2px solid #05c46b;    
    
  }
  .title {
    color: #576574;
    font-size: 2rem;
    padding: 0 1rem;
  } 
}