@import url("https://fonts.googleapis.com/css?family=Do+Hyeon|Nanum+Myeongjo:400,700|Roboto:400,700");

html {
  position: relative;
  min-height: 100%;
}

body {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Do Hyeon", sans-serif;
  }

  footer {
    padding-top: 60px;
    font-family: "Do Hyeon", sans-serif;
  }

  .container {
    font-family: "Nanum Myeongjo", sans-serif;
    margin-bottom: 60px; /* Margin bottom by footer height */
  }

  .card {
    margin: 3px;
    font-family: "Nanum Myeongjo", sans-serif;
  }
}
