@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: "Roboto", sans-serif;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  padding-top: 60px;
}

/* 레이아웃 전반 스타일*/
/* .container { } */

.card {
  margin: 3px;
}
